doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/js/local/scorecard.css')

    link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/js/vendor/jquery/jquery.js')

    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/d3-path.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')

    script(type='text/javascript', src='/js/local/scorecard.js')

    meta(property="og:title" content=ogtitle)
    meta(property="og:type" content="website")
    meta(property="og:description" content="We tested " + testedSite + " websites, " + trackers + " trackers has been identify and " + notattributed + " still lack of attribution")
    meta(property="og:url" content=ogurl)
    meta(property="og:image" content=ogimageurl)

    meta(property="og:image:width" content="600")
    meta(property="og:image:height" content="300")

    title #{pagetitle}

  body

    .container-fluid.headline #{headline}
    .container-fluid.subtitle #{description}

    .container-fluid.statstable
        table
            thead
                tr 
                    th.col-sm-1 sites
                    th.col-sm-1 trackers
                    th.col-sm-1 not attributed 
                    th.col-sm-1 javascrips
                    th.col-sm-1 cookies 
            tbody
                tr 
                    th.col-sm-1 #{testedSites}
                    th.col-sm-1 #{trackers}
                    th.col-sm-1 #{notattributed}
                    th.col-sm-1 #{javascripts}
                    th.col-sm-1 #{cookies}

    .container-fluid.buttons
        button.col-4-md
            a(href="#" onclick="renderScoreCards('#card');") Scorecards 
        button.col-4-md
            a(href="#" onclick="renderJsDetails('#lonelycontainer');") Javascript details
        button.col-4-md
            a(href="#" onclick="renderExpertV('#lonelycontainer');") Analyst visualization
        button.col-4-md
            a(onclick="explanation()" href="listURL" target=_blank) Contribute to the list

        div(id="lonelycontainer")
        div(id="card0")
        div(id="card1")
        div(id="card2")
        div(id="card3")
        div(id="card4")
        div(id="card5")
        div(id="card6")
        div(id="card7")
        div(id="card8")

    script.
        initialize( '#card', '#{jsonsrc}' );

    include footer

