doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')

        script(type='text/javascript', src='/js/vendor/jquery/jquery.js')
        script(type='text/javascript', src='/js/vendor/lodash.min.js')
        link(rel='stylesheet', href='/css/kzbrg.css')

        title Kreuzberg, Google presence analysis tool

    body.fontnice.core

        .container-fluid.header
            h4 Do you need a website? not an issue
            h2 Do you need a website whitout 
                b Google watching your users? 
                span That's a bit harder
                |...
            h4 Google's products infiltrate web technologies here and there. 
            h2 Fuck off Google out of Kreuzberg! But can we get rid of Google from our website too?

        .container-fluid
            table
                thead
                    tr
                        th.sitehead Website tested
                        th.traceshead Google traces caught 

                tbody.entries
                    each analyzed in results
                        tr.entry
                            td.site
                                span.name #{analyzed.href}
                                p.address #{analyzed.description}

                            td.notes
                                each gservice in analyzed.googles
                                    .productBlock
                                        span.product #{gservice.productName} 
                                        span.number #{gservice.amount}
                                if analyzed.nothing
                                    span.clean ✔  No Google detected!


        .container-fluid
            h2 Then what?
            span.col-md-3.left
                .container-fluid
                    h4 Analyze more websites
                    p The analysis is not invasive, it is the same any user can do, with a manual check and an AdBlocker. If you want to suggest new website to be tested: 
                        a(href="https://github.com/vecna/kzbrg/blob/master/kzbrg.csv") update this file
                        |.
            span.col-md-3.left
                    h4 Try alternatives
                    p 
                        b Please note
                        |: this campaign is not about get rid of Gmail or of Android. It is about the google (invisible sometimes) services which run in other websites. Google to that to increase the amount of data collected, and webmaster use them because can be useful.
                        Only two simple links follow, but they are 
                        b only indicative
                        |: we should look more for meaningful third-parties and not other services perpetrating data-exploitation. 
                        a(href="https://www.quora.com/What-are-some-alternatives-to-Google-Webmaster-Tools") Some alternatives
                        |, 
                        a(href="https://www.pcworld.com/article/254583/alternatives_to_google_maps_for_webmasters_and_app_developers.html") some others
                        |.
            span.col-md-3.left
                    h4 Know more and help others
                    small
                        a(href="https://www.theatlantic.com/technology/archive/2017/02/browsing-history-identity/515763/") Your Browsing History Alone Can Give Away Your Identity
                        |, 
                        a(href="http://www.chromium.org/Home/chromium-security/client-identification-mechanisms") 2014 research: analysis on client identification techniques
                        |, 
                        a(href="http://monica-at-mozilla.blogspot.it/") Monica Cheng and her researches
                        |, or a bit scientifical: 
                        a(href="http://yinzhicao.org/TrackingFree/crossbrowsertracking_NDSS17.pdf") Cross browser hardware fingerprinting
            span.col-md-3.left
                    h4 Measure our success
                    p This project just begin. 
                        b What if, we convince websites to get out of Google spynet?
                        |  We can measure how many webiste become google-free and use this as a way to measure the campaign.

